body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

.swiper-slide img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.swiper-container {
    padding: 40px 0;
    width: 100%;
}

.swiper-container .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: var(--text-color);
}

.swiper-container .swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container .swiper-slide-button {
    color: var(--text-color);
}

.swiper-container .swiper-slide-button:hover {
    color: var(--text-color-hover);
}

@media screen and (max-width: 768px) {
    .swiper-slide-button {
        display: none;
    }
}