.helvetica-thin {
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.helvetica-extralight {
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.helvetica-light {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.helvetica-regular {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.helvetica-medium {
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.helvetica-semibold {
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.helvetica-bold {
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.helvetica-extrabold {
    font-family: "Helvetica", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.helvetica-black {
    font-family: "Helvetica", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.helvetica-thin-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.helvetica-extralight-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.helvetica-light-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.helvetica-regular-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.helvetica-medium-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.helvetica-semibold-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.helvetica-bold-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.helvetica-extrabold-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.helvetica-black-italic {
    font-family: "Helvetica", sans-serif;
    font-weight: 900;
    font-style: italic;
}
  